.hm{
						position: absolute
						width:100%;
						height:10px;
						background: url('img/top.png');
						z-index:100;
						background-size: cover;
					}
					#kind-name{
						font-size:80px;
						padding: 50px 25px;
						font-family:cursive;
						color:#F56758;
					}
					.project-intro{
						position: absolute;
						width:100%;
						background: url('img/line.png');
						background-size: 100%,1%;
						background-color:rgba(240, 242, 241, 0.85);
						text-align: center;
						top:120px;
						color:#525252;
					}
					.project-intro img{
						float: top;
						height: 140px;
						width: 140px;
						border-radius: 50%;
						margin: 35px;
						background-color:rgba(229, 229, 229, 0.85);
						box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
					
					}
					#project-name{
						font-size: 30px;
						text-align: center;
						font-family: cursive;
						color:#F56758;
					}
					*{
						margin:0;
						padding:0;
						text-decoration: none;
						list-style: none;
					}
					img{
						max-width: 100%;
						max-height: 100%;
					}
					a{
						color:inherit;
					}
					a:hover{
						color:#F56758;
					}
					.button{
						cursor: pointer;
						background: -webkit-linear-gradient(top, #fa9915, #d87e04);
						text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35);
						border-color: #bf7004;
						color: white;
						display: inline-block;
						border: 1px solid #CCCCCC;
						height: 35px;
						line-height: 32px;
						padding: 0px 25px;
						font-size: 16px;
						font-family: Î¢ÈíÑÅºÚ;
						border-radius: 5px;
					}
					.button:hover{
						background: -webkit-linear-gradient(top, #fba42e, #d87e04);
					}
					
					.team-info{
						margin-top:50px;
						min-height: 147px;
						background-color:rgba(240, 242, 241, 0.85);
						text-align: left;
						height: 257px;	
						color:#525252;
					}
					#head{
						text-align: left;
						color:#525252;
					}
					.team-info .right{
						float: right;
						width: 250px;
					}
					.team-info .left{
						text-indent:1cm;
						line-height:300%;
					}
					.team-info .right img{
						width: 220px;
						border-radius: 50%;
					}
					.text{
						color:#F56758;
					}
					.img img{
						width: 175px;
						height: 175px;
						border-radius: 50%;
						box-shadow: 0px 0px 5px 3px rgba(243, 98, 94,0.6);
						cursor: pointer;
					}
					.cartoon{
						position: absolute
						margin-top:100px;
						width:100%;
						height:10px;
						z-index:100;
						background-size: cover;
					}
					.cartoon h1{
						position: absolute
						margin-top:100px;
					}
					.cartoon h3{
						position: absolute
						margin-top:100px;
						margin-left:500px;
					}
					.cartoon img{
						position: absolute
						width:300px;
						height:300px;
						margin-top:10px;
					}
					.row3{
						width:30%;	
					}
					.blank{
						position: absolute
						margin-top:5000px;
					}	
